#about-card {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-card img {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 12px;
}

#about-card h3 {
  margin: 10px 0 0 0;
}

#about-card h4 {
  margin: 10px 0 25px 0;
}
.material-icons {
  vertical-align: middle;
  color:  #7c4dff;
}

#about-card p {
  text-align: justify;
  margin: 5px 0;
}

#about-card .description {
  margin-top: 20px;
}

@media (max-width: 767px) {
  #about-card img {
    max-width: 90%;
    height: 250px;
  }  
}
