#exp-card {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 2.5rem 0 0 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 16px;
}

#exp-card img {
  width: 100%;
  border-radius: 12px;
}
#exp h2 {
  font-size: 1.5rem;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.work-description {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.work-description p {
  margin: 5px 0;

}
.work-description h3 {
  margin: 5px 0;

}
.divider {
  height: 5px;
  background-color: #7c4dff;
  width: 100%;
}

.work-description ul {
  max-width: 80%;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#exp-card h2 {
  margin-bottom: 15px;
}